<h2>locations</h2>
<section>
    <div class="container">
        <ul>
            <li>
                <div>
                    <h2>CAFE</h2>                    
                </div>
                <div>
                    <h3>Chicago</h3>                    
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div>
                    <div>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </div> 
                    <div>
                        <a class="" href="tel:+610-383-766-284">+61(0) 383 766 284</a>
                        <a class="" href="mailto:noreply@envato.com">noreply@envato.com</a>                         
                    </div>
                </div> 
            </li>
            <li>
                <div>
                    <h2>FOOD TRUCK</h2>                    
                </div>
                <div>
                    <h3>Los Angeles</h3>                    
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div>
                    <div>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </div> 
                    <div>
                        <a class="" href="tel:+610-383-766-284">+61(0) 383 766 284</a>
                        <a class="" href="mailto:noreply@envato.com">noreply@envato.com</a>                         
                    </div>
                </div> 
            </li>
            <li>
                <div>
                    <h2>CAFE</h2>                    
                </div>
                <div>
                    <h3>New York</h3>                    
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div>
                    <div>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </div> 
                    <div>
                        <a class="" href="tel:+610-383-766-284">+61(0) 383 766 284</a>
                        <a class="" href="mailto:noreply@envato.com">noreply@envato.com</a>                         
                    </div>
                </div> 
            </li>
        </ul>
    </div>
</section>